.visualization-container {
  text-align: center;
}

.visualization {
  margin: 40px auto;
}

#gridworld-visualization .visualization {
  width: 640px;
}


#policy-iteration-q-visualization .visualization,
#policy-iteration-v-visualization .visualization,
#value-iteration-q-visualization .visualization,
#value-iteration-v-visualization .visualization {
  width: 1000px;
}

#monte-carlo-visualization .visualization {
  width: 1200px;
}
