[submodule "vae"]
	path = vae
	url = https://github.com/mariogemoll/vae.git
[submodule "attention-is-all-you-need"]
	path = attention-is-all-you-need
	url = https://github.com/mariogemoll/attention-is-all-you-need.git
