h1, h2, p, li {
  font-size: 16px;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 500;
}

h2 {
  margin-top: 80px;
}

h1, li, strong {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a, p {
  font-weight: 300;
  color: grey;
  text-decoration: none;
}

a strong {
  font-weight: 400;
  color: black;
}

.external-links {
  margin-top: 80px;
}

.feed-links,
.feed-links a {
  color: #aaa;
}
