html, label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header a {
  text-decoration: none;
  color: black;
}

header h2 {
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

code {
  font-size: 12px;
  line-height: 20px;
}

/* stylelint-disable selector-class-pattern */
.MathJax[display="true"] {
  margin: 40px auto !important
}


@keyframes wave-gray {
  0% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e3e3e3;
  }

  100% {
    background-color: #f0f0f0;
  }
}

.placeholder {
  background-color: #f0f0f0;
  animation: wave-gray 3s ease-in-out infinite;
}
