.visualization-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.visualization,
.widget {
  margin-top: 30px;
  margin-bottom: 30px;
}

.widget .control-panel {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.widget button,
.widget input {
  display: inline;
  width: auto;
}
