doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap", rel="stylesheet")
    link(rel="alternate", type="application/rss+xml", title="RSS Feed", href="/rss.xml")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="/atom.xml")
    link(rel="stylesheet", href="/misc/style.css")
    each url in cssUrls
      link(rel="stylesheet", href=url)
    each url in jsUrls
      script(src=url)
    each url in jsModuleUrls
      script(src=url, type="module")
  body
    != content
